@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200&display=swap');

:root {
    --darkBlue: #001418;
    --midBlue: #00343e;
    --lightBlue: #a2c4c9;
    --darkYellow: #edb104;
    --lightYellow: #ffd966;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: var(--darkBlue);
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkYellow);
    border-radius: 20px;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(images/header-background3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;
    padding: 0.7rem 1rem;

    position: fixed;
    top: 0;
    z-index: 100;

    background-color: var(--darkBlue);

    @media (max-width: 500px) {
        justify-content: end;
        gap: 1rem;
    }
}

.horizontal-navbar-button {
    position: absolute;
    visibility: hidden;

    @media (max-width: 500px) {
        visibility: visible;

        transform: rotate(90deg);

        left: 1rem;

        height: 1.5rem;
        width: 1.5rem;
        padding: 5px;
        padding-bottom: 24px;

        background-color: transparent;
        border: none;
        border-radius: 8px;
        color: white;

        transition: background-color ease-in-out 0.15s;
    }
}

.horizontal-navbar-button:hover {
    background-color: var(--midBlue);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    height: 100%;
    width: fit-content;

    font-size: 12px;
    text-align: center;

    cursor: default;

    @media (max-width: 500px) {
        visibility: hidden;

        flex-direction: column;
        align-items: start;
        gap: 1rem;

        position: fixed;
        left: 0rem;
        top: 3rem;

        background-color: var(--darkBlue);

        height: fit-content;
        padding: 1rem;
    }
}

.nav-bar a {
    color: aliceblue;
    font-size: 12px;
}

.nav-bar a:hover {
    color: var(--lightYellow);
    transition: 0.3s all;
}

.contact-button {
    color: var(--lightYellow);
    background: transparent;
    border: solid 1px var(--lightYellow);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: var(--lightYellow);
    color: var(--darkBlue);
    transition: 0.3s;
}

.brazil-flag, .usa-flag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;

    overflow: hidden;

    img {
        height: 1.8rem;
        width: auto;
    }
}

.container-text {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    padding-top: 30vh;
}

.text {
    color: aliceblue;
    font-size: 3.5vmax;
}

.text h1 span {
    color: var(--lightYellow);
}

.text h3 {
    font-size: 2.5vmax;
}

.text p {
    text-align: center;
    font-size: 1.8vmax;
    padding-bottom: 10px;
}

.social-media {
    width: fit-content;
    border-top: solid 1px gray;
    margin: 0 auto;
    padding-top: 7px;
    cursor: default;
}

.social-media li {
    display: inline-block;
    padding: 5px;
    width: 1.2em;
    transition: all .2s ease-in-out;
}

.social-media li:hover {
    transform: scale(1.2);
}

.about-background {
    background: var(--lightYellow);
    height: fit-content;
    width: 100%;
    padding: 4rem 0;

    text-align: center;
}

.infos {
    display: flex;
    align-items: center;
    gap: 8vmax;

    width: 60%;

    margin: auto;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.profile-pic {
    height: 20vmax;
    width: 20vmax;
    border-radius: 50%;
}

.info-text {
    word-wrap: break-word;

    h3 {
        font-size: 2vmax;
    }

    p {
        font-size: 1.5vmax;
    }
}

.resume-background {
    color: aliceblue;
    background-color: var(--midBlue);
    height: fit-content;
    width: 100%;
    padding: 3rem 0;
}

.resume {
    display: flex;
    align-items: start;
    justify-content: space-evenly;

    width: 100%;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: auto;
    }
}

.resume h2 {
    width: fit-content;
    border-bottom: solid 2px var(--lightYellow);
    font-size: 2vmax;
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;

    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
    }
}

.hard-text {
    width: 90%;
    margin: 2vmax auto;
}

.hard-text li {
    padding: 10px;

    h3 {
        color: var(--lightYellow);
        font-size: 1.8vmax;
    }

    p {
        font-size: 1.2vmax;
    }
}

.projects {
    background-color: aliceblue;
    width: 100%;
    height: fit-content;
    padding: 3rem 0;
}

.projects ul {
    display: flex;
    width: 100%;
}

.projects-title {
    color: var(--midBlue);
    height: 2rem;
    margin-left: 6%;
}

.projects-title h1 {
    border-bottom: solid 2px var(--darkYellow);

}

.projects-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vmax;

    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 2rem    ;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.projects-content img {
    height: 12vmax;
    width: auto;

    border-radius: 1.2rem 1.2rem 0 0;

    @media (max-width: 767px) {
        height: 15vmin;

        border-radius: 1.2rem 0 0 1.2rem;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 30%;
    padding: 1.5rem;

    border: 2px solid var(--lightBlue);
    border-radius: 2rem;

    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;

    @media (max-width: 767px) {
        flex-direction: row;

        width: 100%;
        padding: 1rem;

    }
}

.project:hover {
    transform: scale(1.05);
    background-color: var(--lightBlue);
}

.project-description {
    width: 100%;
    word-wrap: break-word;

    h4 {
        color: var(--midBlue);
        font-size: 1.8vmax;
    }

    p {
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.2vmax;
    }

    @media (max-width: 767px) {
        align-self: flex-start;
        height: 100%;

        h4 {
            font-size: 2.5vmax;
        }

        p {
            font-size: 2vmax;
        }
    }
}

.contact {
    background-color: var(--darkBlue);
    height: fit-content;
    width: 100%;
    display: inline-block;
    justify-content: flex-start;
    bottom: 0;
    padding: 2rem 0;
}

.contact ul {
    margin-left: 6%;
    border-bottom: solid 2px aliceblue;
    color: var(--lightYellow);
    width: fit-content;
}

.contact li {
    display: flex;
    justify-content: center;
    gap: 3vmax;

    font-size: 2.5vmin;
    text-align: center;
    color: aliceblue;
    
    margin-top: 2rem;
    width: 100%;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}

.contact li a {
    display: flex;
    flex-direction: column;
    gap: 1vmax;

    color: aliceblue;
    transition: all .2s ease-in-out;
}

.contact li a:hover {
    transform: scale(1.2);
}

.email:hover {
    color: #cd3a2f;
}

.maps:hover {
    color: var(--darkYellow);
}

.whats:hover {
    color: #0dc143;
}